body {
  font-family: Poppins;
}
.display-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3rem;
}
.display-1 > .mbr-iconfont {
  font-size: 3.68rem;
}
.display-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.52rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.44rem;
}
.display-5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 1.84rem;
    font-size: calc( 1.455rem + (2.3 - 1.455) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.455rem + (2.3 - 1.455) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.72rem;
    font-size: calc( 0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 2.2rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #53565a !important;
}
.bg-success {
  background-color: #72bf44 !important;
}
.bg-info {
  background-color: #ffe611 !important;
}
.bg-warning {
  background-color: #d7d2cb !important;
}
.bg-danger {
  background-color: #232323 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #53565a !important;
  border-color: #53565a !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #53565a !important;
  background-color: transparent !important;
  border-color: #53565a !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2e3032 !important;
  border-color: #2e3032 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #20aa4d !important;
  border-color: #20aa4d !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #20aa4d !important;
  background-color: transparent !important;
  border-color: #20aa4d !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #146a30 !important;
  border-color: #146a30 !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffe611 !important;
  border-color: #ffe611 !important;
  color: #110f00 !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffe611 !important;
  background-color: transparent !important;
  border-color: #ffe611 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #110f00 !important;
  background-color: #c3af00 !important;
  border-color: #c3af00 !important;
}
.btn-success,
.btn-success:active {
  background-color: #72bf44 !important;
  border-color: #72bf44 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #72bf44 !important;
  background-color: transparent !important;
  border-color: #72bf44 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #50882f !important;
  border-color: #50882f !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #d7d2cb !important;
  border-color: #d7d2cb !important;
  color: #5c5347 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #d7d2cb !important;
  background-color: transparent !important;
  border-color: #d7d2cb !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #5c5347 !important;
  background-color: #b6ada0 !important;
  border-color: #b6ada0 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #232323 !important;
  background-color: transparent !important;
  border-color: #232323 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #ffffff !important;
  background-color: transparent !important;
  border-color: #ffffff !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #333333 !important;
  background-color: transparent !important;
  border-color: #333333 !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #222325;
  color: #222325;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #53565a;
  border-color: #53565a;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #53565a !important;
  border-color: #53565a !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #105426;
  color: #105426;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #20aa4d;
  border-color: #20aa4d;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #20aa4d !important;
  border-color: #20aa4d !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #aa9800;
  color: #aa9800;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #110f00;
  background-color: #ffe611;
  border-color: #ffe611;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #110f00 !important;
  background-color: #ffe611 !important;
  border-color: #ffe611 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #457528;
  color: #457528;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #72bf44;
  border-color: #72bf44;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #72bf44 !important;
  border-color: #72bf44 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #aba091;
  color: #aba091;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #5c5347;
  background-color: #d7d2cb;
  border-color: #d7d2cb;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #5c5347 !important;
  background-color: #d7d2cb !important;
  border-color: #d7d2cb !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #232323;
  border-color: #232323;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #53565a !important;
}
.text-secondary {
  color: #20aa4d !important;
}
.text-success {
  color: #72bf44 !important;
}
.text-info {
  color: #ffe611 !important;
}
.text-warning {
  color: #d7d2cb !important;
}
.text-danger {
  color: #232323 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #20aa4d !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #105426 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #20aa4d !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #20aa4d !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #20aa4d !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #20aa4d !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #20aa4d !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #20aa4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffe611;
}
.alert-warning {
  background-color: #d7d2cb;
}
.alert-danger {
  background-color: #232323;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #53565a;
  border-color: #53565a;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #53565a;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #92969a;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #bae0a3;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fffbdd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #d5d5d5;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
  -webkit-transform: rotate(45deg);
}
.form-control {
  background-color: #ffffff;
  box-shadow: none;
  color: #767676;
  border: 3px solid #ebeced;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 46px;
  padding: 0.5rem 1.2rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control:focus {
  outline: none;
  border: 3px solid #ebeced;
  background-color: #f5f5f7;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
blockquote {
  border-color: #53565a;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #53565a;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-number__spin {
  background-color: #ffffff;
  border: 3px solid #ebeced;
}
.jq-number__spin:focus {
  outline: none;
  border: 3px solid #ebeced;
  background-color: #f5f5f7;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #53565a;
  border-bottom-color: #53565a;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #53565a !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #20aa4d !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2353565a' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rwXm5Y46vC .navbar {
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
.cid-rwXm5Y46vC .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-rwXm5Y46vC a {
  font-style: normal;
}
.cid-rwXm5Y46vC .show {
  overflow: visible;
}
.cid-rwXm5Y46vC .dropdown-menu {
  max-height: 400px;
}
.cid-rwXm5Y46vC .dropdown-item:active {
  background-color: transparent;
}
.cid-rwXm5Y46vC .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rwXm5Y46vC .nav-item a {
  display: -webkit-flex;
  align-items: center;
  padding: 0.7rem 0 !important;
  margin: 0rem 1.2rem !important;
  -webkit-align-items: center;
}
.cid-rwXm5Y46vC .nav-item:focus,
.cid-rwXm5Y46vC .nav-link:focus {
  outline: none;
}
.cid-rwXm5Y46vC .btn {
  padding: 0.7rem 2rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rwXm5Y46vC .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rwXm5Y46vC .menu-logo {
  margin-right: auto;
}
.cid-rwXm5Y46vC .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rwXm5Y46vC .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rwXm5Y46vC .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rwXm5Y46vC .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rwXm5Y46vC .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rwXm5Y46vC .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rwXm5Y46vC .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rwXm5Y46vC .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  padding-right: 1rem;
  max-width: 100%;
  width: 100%;
}
.cid-rwXm5Y46vC .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rwXm5Y46vC .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rwXm5Y46vC .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rwXm5Y46vC .navbar-toggleable-sm .navbar-collapse {
  justify-content: space-between !important;
}
.cid-rwXm5Y46vC .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rwXm5Y46vC .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rwXm5Y46vC .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rwXm5Y46vC .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rwXm5Y46vC .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rwXm5Y46vC .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: none;
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rwXm5Y46vC .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rwXm5Y46vC .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rwXm5Y46vC .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rwXm5Y46vC .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rwXm5Y46vC .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rwXm5Y46vC .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rwXm5Y46vC button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rwXm5Y46vC button.navbar-toggler:focus {
  outline: none;
}
.cid-rwXm5Y46vC button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #53565a;
}
.cid-rwXm5Y46vC button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rwXm5Y46vC button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rwXm5Y46vC button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rwXm5Y46vC button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rwXm5Y46vC nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rwXm5Y46vC nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rwXm5Y46vC nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rwXm5Y46vC nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rwXm5Y46vC .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rwXm5Y46vC .collapsed .btn {
  display: -webkit-flex;
}
.cid-rwXm5Y46vC .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rwXm5Y46vC .collapsed .navbar-collapse.collapsing,
.cid-rwXm5Y46vC .collapsed .navbar-collapse.show {
  display: block !important;
  overflow: auto;
}
.cid-rwXm5Y46vC .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rwXm5Y46vC .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rwXm5Y46vC .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rwXm5Y46vC .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rwXm5Y46vC .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rwXm5Y46vC .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rwXm5Y46vC .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rwXm5Y46vC .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-rwXm5Y46vC .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: 90.625vh;
  }
}
.cid-rwXm5Y46vC .collapsed button.navbar-toggler {
  display: block;
}
.cid-rwXm5Y46vC .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rwXm5Y46vC .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rwXm5Y46vC .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rwXm5Y46vC .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rwXm5Y46vC .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rwXm5Y46vC .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-rwXm5Y46vC.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rwXm5Y46vC img {
    height: 3.8rem !important;
  }
  .cid-rwXm5Y46vC .btn {
    display: -webkit-flex;
  }
  .cid-rwXm5Y46vC button.navbar-toggler {
    display: block;
  }
  .cid-rwXm5Y46vC .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rwXm5Y46vC .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rwXm5Y46vC .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rwXm5Y46vC .navbar-collapse.collapsing,
  .cid-rwXm5Y46vC .navbar-collapse.show {
    display: block !important;
    overflow: auto;
  }
  .cid-rwXm5Y46vC .navbar-collapse.collapsing .navbar-nav,
  .cid-rwXm5Y46vC .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rwXm5Y46vC .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rwXm5Y46vC .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rwXm5Y46vC .navbar-collapse.collapsing .navbar-buttons,
  .cid-rwXm5Y46vC .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rwXm5Y46vC .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rwXm5Y46vC .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rwXm5Y46vC .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rwXm5Y46vC .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rwXm5Y46vC .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rwXm5Y46vC .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (max-width: 767px) {
  .cid-rwXm5Y46vC .nav-link {
    justify-content: start!important;
  }
  .cid-rwXm5Y46vC .navbar.opened {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .cid-rwXm5Y46vC .navbar-toggleable-sm {
    width: 100%!important;
  }
  .cid-rwXm5Y46vC .dropdown-menu {
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1) !important;
    background: #efefef !important;
  }
}
@media (min-width: 767px) {
  .cid-rwXm5Y46vC .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rwXm5Y46vC .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rwXm5Y46vC .nav-link:hover,
.cid-rwXm5Y46vC .dropdown-item:hover {
  color: #d7d2cb !important;
}
@media (min-width: 1500px) {
  .cid-rwXm5Y46vC .navbar-toggleable-sm .navbar-collapse {
    max-width: 60%!important;
    padding-right: 5rem;
  }
  .cid-rwXm5Y46vC .menu-logo .navbar-brand {
    margin-left: 5rem;
  }
}
.cid-tBrUJ3Llvr .modal-body .close {
  background: #1b1b1b;
}
.cid-tBrUJ3Llvr .modal-body .close span {
  font-style: normal;
}
.cid-tBrUJ3Llvr .carousel-inner > .active,
.cid-tBrUJ3Llvr .carousel-inner > .next,
.cid-tBrUJ3Llvr .carousel-inner > .prev {
  display: flex;
}
.cid-tBrUJ3Llvr .carousel-control .icon-next,
.cid-tBrUJ3Llvr .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 22px;
  line-height: 27px;
}
.cid-tBrUJ3Llvr .carousel-control:hover {
  background-color: transparent;
  color: #fff;
  opacity: .5;
}
@media (max-width: 767px) {
  .cid-tBrUJ3Llvr .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tBrUJ3Llvr .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-tBrUJ3Llvr .boxed-slider > div {
  position: relative;
}
.cid-tBrUJ3Llvr .container img {
  width: 100%;
  height: 680px;
  object-fit: cover;
}
.cid-tBrUJ3Llvr .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
}
.cid-tBrUJ3Llvr .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-tBrUJ3Llvr .mbr-table-cell {
  padding: 0;
}
.cid-tBrUJ3Llvr .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-tBrUJ3Llvr .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: -webkit-flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-align-items: center;
}
.cid-tBrUJ3Llvr .mbr-overlay {
  z-index: 1;
}
.cid-tBrUJ3Llvr .container-slide.container {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
  height: 680px;
}
.cid-tBrUJ3Llvr .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
.cid-tBrUJ3Llvr .carousel-item.active.right,
.cid-tBrUJ3Llvr .carousel-item.next {
  left: 0;
  transition: opacity 0.7s ease-in-out;
  opacity: 0;
}
.cid-tBrUJ3Llvr .carousel-item.active.left,
.cid-tBrUJ3Llvr .carousel-item.prev {
  left: 0;
  transition: opacity 0.7s ease-in-out;
  opacity: 0;
}
.cid-tBrUJ3Llvr .carousel-item.active,
.cid-tBrUJ3Llvr .carousel-item.next.left,
.cid-tBrUJ3Llvr .carousel-item.prev.right {
  left: 0;
  opacity: 1;
}
.cid-tBrUJ3Llvr .mbr-slider .carousel-control {
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -1.5rem;
  font-size: 22px;
  transition: all .25s ease;
  opacity: 1;
  z-index: 11;
}
.cid-tBrUJ3Llvr .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tBrUJ3Llvr .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tBrUJ3Llvr .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 22px;
}
@media (max-width: 767px) {
  .cid-tBrUJ3Llvr .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
    display: none;
  }
}
.cid-tBrUJ3Llvr .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  .cid-tBrUJ3Llvr .mbr-slider .carousel-indicators {
    margin-bottom: .5rem;
  }
}
.cid-tBrUJ3Llvr .mbr-slider .carousel-indicators li {
  max-width: 10px;
  width: 110px;
  height: 10px;
  max-height: 10px;
  margin: 0 5px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .3;
  transition: all .25s ease;
  box-sizing: border-box;
}
.cid-tBrUJ3Llvr .mbr-slider .carousel-indicators li.active,
.cid-tBrUJ3Llvr .mbr-slider .carousel-indicators li:hover {
  opacity: 1;
  background-color: #fff;
}
.cid-tBrUJ3Llvr .mbr-slider .carousel-indicators li::after,
.cid-tBrUJ3Llvr .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-tBrUJ3Llvr .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-tBrUJ3Llvr .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-tBrUJ3Llvr .mbr-slider > .container img {
  width: 100%;
}
.cid-tBrUJ3Llvr .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  transform: translateY(-50%);
}
.cid-tBrUJ3Llvr .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-tBrUJ3Llvr .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tBrUJ3Llvr .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-tBrUJ3Llvr .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-tBrUJ3Llvr .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-tBrUJ3Llvr .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-tBrUJ3Llvr .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-tBrUJ3Llvr .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-tBrUJ3Llvr .full-screen .carousel-item .container.container-slide {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-tBrUJ3Llvr .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-tBrUJ3Llvr .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-tBrUJ3Llvr .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-tBrUJ3Llvr h2 {
  margin-bottom: 0;
  font-weight: 700;
}
.cid-tBrUJ3Llvr .mbr-text {
  margin-bottom: 0;
  margin-top: 30px;
  font-weight: 500;
}
.cid-tBrUJ3Llvr .mbr-section-btn {
  margin-top: 100px;
}
@media (max-width: 991px) {
  .cid-tBrUJ3Llvr .mbr-section-btn {
    margin-top: 30px;
  }
}
.cid-tBrUJ3Llvr .mbr-section-btn .btn {
  height: 60px;
  padding: 0 40px;
  font-weight: 700;
}
.cid-tBrUJ3Llvr .mbr-iconfont {
  transition: all 0.25s ease;
}
.cid-tBrUJ3Llvr .carousel-control-next .mbr-iconfont::before {
  content: "\e909";
}
.cid-tBrUJ3Llvr .carousel-control-next .mbr-iconfont:hover {
  opacity: .5;
}
.cid-tBrUJ3Llvr .carousel-control-prev .mbr-iconfont::before {
  content: "\e90a";
}
.cid-tBrUJ3Llvr .carousel-control-prev .mbr-iconfont:hover {
  opacity: .5;
}
.cid-tBrUJ3Llvr H2 {
  text-align: center;
}
.cid-tBrUJ3Llvr P {
  text-align: center;
}
.cid-tBs2yLV0GE {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: #d7d2cb;
}
.cid-tBs2yLV0GE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBs2yLV0GE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tBs2yLV0GE .row {
    padding: 0 13px;
  }
}
.cid-tBs2yLV0GE .row {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-tBs2yLV0GE .card-wrapper {
    margin-bottom: 55px;
  }
}
.cid-tBs2yLV0GE .card-wrapper .icon-wrapper {
  margin-bottom: 18px;
}
.cid-tBs2yLV0GE .card-wrapper .icon-wrapper .mbr-iconfont {
  display: inline;
  font-size: 82px;
  width: auto;
  color: #616161;
}
.cid-tBs2yLV0GE .card-wrapper .mbr-section-title {
  margin-bottom: 18px;
}
.cid-tBs2yLV0GE .card-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-tBs2yLV0GE .mbr-section-title {
  color: #ffffff;
}
.cid-tBs2yLV0GE .mbr-text {
  color: #53565a;
}
.cid-tBs2yLV0GE .mbr-section-title,
.cid-tBs2yLV0GE .icon-wrapper {
  color: #53565a;
}
.cid-tBsuckFbtu {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-tBsuckFbtu .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBsuckFbtu .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBsuckFbtu .main-wrap {
  display: grid;
  max-width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  align-items: flex-start;
}
@media (max-width: 991px) {
  .cid-tBsuckFbtu .main-wrap {
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.cid-tBsuckFbtu .card-col {
  height: 100%;
  padding: 0;
}
.cid-tBsuckFbtu .card-wrapper {
  position: sticky;
  top: 120px;
  width: 100%;
}
@media (max-width: 991px) {
  .cid-tBsuckFbtu .card-wrapper {
    position: relative;
    top: 0;
  }
}
.cid-tBsuckFbtu .card-title {
  padding-bottom: 16px;
  color: #000000;
}
.cid-tBsuckFbtu .mbr-text {
  margin-top: 0;
  margin-bottom: 10px;
  color: #747474;
}
.cid-tBsuckFbtu .mbr-section-btn {
  margin-top: 20px;
}
.cid-tBsuckFbtu .images-wrap {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  width: 100%;
}
@media (max-width: 767px) {
  .cid-tBsuckFbtu .images-wrap {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 575px) {
  .cid-tBsuckFbtu .images-wrap {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
}
.cid-tBsuckFbtu .image-wrapper {
  max-width: 100%;
  width: 100%;
}
.cid-tBsuckFbtu .image-wrapper img {
  aspect-ratio: 0.9380863;
  width: 100%;
  object-fit: cover;
}
.cid-tBsLc2WwnI {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tBsLc2WwnI .text-wrapper {
  padding: 2rem;
  max-width: 650px;
}
@media (max-width: 991px) {
  .cid-tBsLc2WwnI .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tBsLc2WwnI img {
  width: 130%;
}
@media (max-width: 1400px) {
  .cid-tBsLc2WwnI img {
    width: 150%;
  }
}
@media (max-width: 992px) {
  .cid-tBsLc2WwnI img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .cid-tBsLc2WwnI .text-wrapper {
    padding: 2rem;
  }
}
.cid-tBsLc2WwnI .mbr-section-subtitle {
  color: #fa4529;
}
.cid-tBsLc2WwnI .mbr-text {
  color: #53565a;
}
.cid-tBsLtWKv69 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #53565a;
}
.cid-tBsLtWKv69 .link-wrapper {
  width: 100%;
}
.cid-tBsLtWKv69 .container {
  max-width: 1550px;
  padding: 0 2rem;
}
@media (max-width: 767px) {
  .cid-tBsLtWKv69 .container {
    padding: 0 1rem;
  }
}
.cid-tBsLtWKv69 p {
  padding: 0;
  margin: 0;
}
.cid-tBsLtWKv69 .item {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tBsLtWKv69 .item {
    text-align: center;
  }
}
.cid-tBsLtWKv69 .line {
  width: 100%;
  border-bottom: 1px solid #ffffff;
}
.cid-tBsLtWKv69 .row {
  align-items: center;
}
@media (max-width: 992px) {
  .cid-tBsLtWKv69 .row {
    justify-content: flex-start;
  }
}
.cid-tBsLtWKv69 .card {
  border-radius: 0;
  padding: 0;
}
.cid-tBsLtWKv69 .card-title {
  color: #ffffff;
}
.cid-tBsLtWKv69 .card-title a {
  position: relative;
  background: none!important;
}
.cid-tBsLtWKv69 .card-title a:before {
  content: '';
  bottom: 0;
  right: 0;
  width: 0%;
  height: 2px;
  transition: all 0.3s;
  background: currentColor;
  position: absolute;
}
.cid-tBsLtWKv69 .card-title a:hover:before {
  width: 100%;
  left: 0;
  right: auto;
}
.cid-tBsLtWKv69 .link {
  display: inline-block;
  position: relative;
  padding-right: 2rem;
  overflow: hidden;
  cursor: pointer;
}
.cid-tBsLtWKv69 .link:before {
  content: "\e96b";
  font-family: 'Moririse2' !important;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s;
  transform: rotate(-45deg) translateX(0px);
}
.cid-tBsLtWKv69 .link:after {
  content: "\e96b";
  font-family: 'Moririse2' !important;
  position: absolute;
  top: 0;
  right: 0rem;
  transition: all 0.3s;
  transform: rotate(-45deg) translateX(-33px);
}
.cid-tBsLtWKv69 .link:hover:before {
  transform: rotate(-45deg) translateX(33px);
}
.cid-tBsLtWKv69 .link:hover:after {
  transform: rotate(-45deg) translateX(0px);
}
.cid-tBsLtWKv69 .card-subtitle {
  color: #ffffff;
}
.cid-tBsLtWKv69 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBsLtWKv69 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBsLtWKv69 .title {
  color: #ffffff;
}
.cid-tBsLtWKv69 .link,
.cid-tBsLtWKv69 .link-wrapper {
  color: #d7d2cb;
}
.cid-tBsTGHYxeb {
  padding-top: 0px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-tBsTGHYxeb .google-map {
  height: 25rem;
  position: relative;
}
.cid-tBsTGHYxeb .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tBsTGHYxeb .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tBsTGHYxeb .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tBsTGHYxeb .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tBsTGHYxeb .wrapper {
  margin-top: -10rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  border-radius: .25rem;
}
.cid-tBsTGHYxeb .form-container {
  padding: 3rem;
}
.cid-tBsTGHYxeb .row {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.cid-tBsTGHYxeb .content-panel {
  padding: 2rem;
  background: linear-gradient(45deg, #72bf44, #20aa4d);
  height: 100%;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  overflow: hidden;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-tBsTGHYxeb .mbr-text {
  color: #efefef;
}
@media (min-width: 992px) {
  .cid-tBsTGHYxeb .form-group,
  .cid-tBsTGHYxeb .input-group-btn {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
.cid-tBsTGHYxeb .form-control {
  border-radius: .25rem !important;
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  min-height: 40px;
}
.cid-tBsTGHYxeb textarea.form-control {
  min-height: 170px;
}
@media (max-width: 767px) {
  .cid-tBsTGHYxeb .main-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-tBsTGHYxeb .text-block {
    margin-bottom: 2rem;
  }
  .cid-tBsTGHYxeb .wrapper {
    margin-top: 0;
  }
}
.cid-tBsTGHYxeb .social-list {
  margin-top: auto;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-tBsTGHYxeb .social-list .mbr-iconfont-social {
  font-size: 1.2rem;
  color: #fff;
}
.cid-tBsTGHYxeb .social-list .mbr-iconfont:before {
  padding: .5rem;
  border: 2px solid;
  border-radius: 100px;
}
.cid-tBsTGHYxeb .social-list .soc-item {
  margin: 15px 3px 0px 3px;
}
.cid-tBsTGHYxeb .social-list a {
  margin: 0;
  opacity: .7;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-tBsTGHYxeb .social-list a:hover {
  opacity: 1;
}
.cid-tBsTGHYxeb H2 {
  color: #53565a;
}
.cid-ro4GMcl2gl {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #53565a;
}
.cid-ro4GMcl2gl .mbr-flex {
  display: flex;
  justify-content: flex-end;
}
.cid-ro4GMcl2gl section {
  position: relative;
}
.cid-ro4GMcl2gl h4 {
  margin: 0;
}
.cid-ro4GMcl2gl a {
  font-weight: 300;
}
.cid-ro4GMcl2gl .row {
  align-items: center;
}
.cid-ro4GMcl2gl .item {
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
}
.cid-ro4GMcl2gl .item h4 {
  padding-left: 10px;
  margin: 0;
}
.cid-ro4GMcl2gl .img1 {
  color: #ffffff;
}
@media (max-width: 992px) {
  .cid-ro4GMcl2gl .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 992px) {
  .cid-ro4GMcl2gl .align-left {
    text-align: center;
  }
  .cid-ro4GMcl2gl .mbr-flex {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .cid-ro4GMcl2gl .mbr-flex {
    flex-direction: column;
    align-items: center;
  }
  .cid-ro4GMcl2gl .item {
    padding-bottom: 0.5rem;
  }
}
.cid-ro4GMcl2gl .item-title {
  color: #c1c1c1;
}
.cid-ro4GMcl2gl H4 {
  color: #c1c1c1;
}
